          
[Desktop Entry]
Type=Application
Name=AutoRadio

Exec=lxterminal -e  /home/pi/PoChaS/POCHAS/Common/Rotatory_Platform/start.sh
X-GNOME-Autostart-enabled=true


